@import "tailwindcss";

:root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #18181b;
    background-color: #e4e4e7;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
}