@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rubik:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-root-bg: #f5fbf5;
    --color-button-primary: #79C9B2;
    --color-title: #4DBA9A;
    --color-logo: #173B63;
    --color-label: #2E7FA3;
    --color-border: #132a13;
}

:root {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #18181b;
    background-color: var(--color-root-bg);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

h1 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    text-align: center;

    .leading-tight {
        --tw-leading: var(--leading-tight)
            /* 1.25 */
        ;
        line-height: var(--leading-tight)
            /* 1.25 */
        ;
    }

    @property --tw-leading {
        syntax: "*";
        inherits: false;
    }


}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
    font-weight: 400;
}