@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rubik:wght@600;700&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #18181b;
    background-color: #e4e4e7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
    font-weight: 400;
}